[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
	ignore = dirty
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/SDL_Image"]
	path = vendor/SDL_Image
	url = https://github.com/libsdl-org/SDL_image
